repos:
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.83.6
    hooks:
      # - id: tfupdate
      #   name: Update Terraform version
      #   args:
      #     - --args=terraform -v >=1.3.0

      # - id: tfupdate
      #   name: Update Terraform's azurerm provider
      #   args:
      #     - --args=provider azurerm
      #     - --args=--version >=3.28.0

      - id: terraform_fmt
        name: Format Terraform code

      - id: terraform_validate
        name: Validate Terraform code
        # exclude: ^(examples|tests)
        args:
          - --tf-init-args=-upgrade
          - --tf-init-args=-backend=false

      - id: terraform_tflint
        name: Validate Terraform tests
        args:
          - --args=--enable-rule=terraform_naming_convention
          - --args=--enable-rule=terraform_unused_required_providers
          - --args=--module

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
        name: Check for files that contain merge conflict strings

      - id: end-of-file-fixer
        name: Makes sure files end in a newline and only a newline
