name: "pre-commit"

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - "examples/**"
      - "LICENSE"
      - "**.md"

permissions:
  id-token: write
  contents: read

jobs:
  main:
    runs-on: ubuntu-latest

    steps:
      - name: Download repository
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.3.0"

      - name: Setup TFLint
        uses: terraform-linters/setup-tflint@v4

      - uses: actions/setup-python@v5
        with:
          python-version: 3.x

      - uses: pre-commit/action@v3.0.0

      - uses: pre-commit-ci/lite-action@v1.0.1
        if: always()
